<!-- <div class="contents">
    <div  class="content">
       <div class="slider-wrapper">
          <div id="image-slider">
             <ul>
                <li id="Livro" class="active-img" style="left: 0px;">
                   <div class="cont second-content">
                      <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                         <ul  class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                            <li class="ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="false" aria-expanded="false">
                               <a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">
                                  <span class="fa fa-desktop"></span>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                </li>
             </ul>
          </div>
       </div>
    </div>
 </div> -->

<button (click)="login()">TESTE</button>
