<div class="container">
  <div class="content">
    <div class="underTextEditor">
      <div class="textEditor">
        <div [ngClass]="activePhone ? 'btnFunctionIAActive' : 'btnFunctionIA'" style="right: 15px;" (click)="ActivePhone()">
          <i class="fa-solid fa-headphones" style="height: 25px;"></i>
        </div>

        <div [ngClass]="activeMicrophone ? 'btnFunctionIAActive' : 'btnFunctionIA'" style="right: 60px;" (click)="ActiveMicrophone()">
          <i class="fa-solid fa-microphone" style="height: 25px;"></i>
        </div>

          <editor 
            [(ngModel)]="livro"
            (ngModelChange)="changeLivro()"
            style="height: 100%;" 
            class="editorTiny"
            [init]="editorConfig"> </editor>
      </div>
    </div>

    <div class="nav-opcoes">

      <div class="app-chat-bot" >
        <div class="edit-btn-IA" (click)="EditIA()" *ngIf="!EditingIA"><i class="fa-solid fa-robot"></i></div>
        <app-chatbot *ngIf="!EditingIA"></app-chatbot>
        <app-edit-bot *ngIf="EditingIA" (open)="onOpen()"></app-edit-bot>
      </div>
  
    </div>

    <table>
      <th>
        <tr>
          <td></td>
        </tr>
      </th>
      <td></td>
    </table>
  </div>
</div>
