<div class="container">
  <div class="content">
    <div class="underTextEditor">
      <div class="textEditor">
        <div class="chat-content">
          <div class="contato"></div>

          <div class="chatbot">
            <ul>
              <li class="button1"></li>
              <li class="button2"></li>
              <li class="button3"></li>
            </ul>
            <ul *ngFor="let mensage of mensagens">
              <li class="iconePerfil"></li>
              <li class="textoMensagem">
                <div>
                  <span>{{ mensage.mensagem }}</span>

                  <button (click)="login()">TESTAR LOGIN</button>

                  <!-- <img src="{{ user.additionalUserInfo.profile.picture }}" /> -->
                </div>
              </li>
              <li class="avaliacao"></li>
            </ul>
            <ul>
              <li class="inputMensagem"></li>
              <li class="buttonSendMensagem"></li>
            </ul>
            <!-- <table> -->
            <!-- <tr *ngFor="let mensagem in mensagens">
                          <th>imagem</th>
                          <th>{{mensagem}}</th>
                          <th>copiar</th>
                        </tr> -->
            <!-- <tr class="trs"> 
                          <td class="tds">imagem1</td>
                          <td class="tds">mensagem1</td>
                          <td class="tds">copiar1</td>
                        </tr>
                        <tr class="trs">
                          <td class="tds">imagem2</td>
                          <td class="tds">mensagem2</td>
                          <td class="tds">copiar2</td>
                        </tr>
                    </table> -->
          </div>
        </div>

        <!--           
          <input [(ngModel)]="pergunta"/>

          <button (click)="teste()"> testar</button>

          <editor 
            (ngModel)="livro"
            (ngModelChange)="changeLivro()"
            style="height: 100%;" 
            class="editorTiny"
            [init]="editorConfig"> </editor> -->
      </div>
    </div>

    <div class="nav-opcoes">
      <ul>
        <li>
          <button (click)="AtiviarIA()">Ativar IA</button>
        </li>
        <li>
          <button (click)="PararIA()">Parar IA</button>
        </li>
        <li>
          <button></button>
        </li>
        <li>
          <button></button>
        </li>

        <textarea
          id="chatBot"
          placeholder='Exemplo: "Escreva um cápitulo de um livro drámatico..." '
        ></textarea>
      </ul>
    </div>

    <table>
      <th>
        <tr>
          <td></td>
        </tr>
      </th>
      <td></td>
    </table>
  </div>
</div>
