
<div class="content">
  <div class="contentModal">
    <div class="header-lign-login">
    </div>
    <div class="body-login">
        <div class="div-title">
            <h2 class="t-heading -size-m">Ótimo tê-lo de volta!</h2>
        </div>

        <form  #data = "ngForm" (ngSubmit) = "onClickLogin(data.value)">

          <div class="external-auth-btn">

            <div class="auth-btn" (click)="AuthGoogle()">
              <div class="auth-icons"><img  id="icon-google" src="../../../../../assets/images/Icons/google.svg"></div>
              <asl-google-signin-button size='high'></asl-google-signin-button>
              <div class="auth-label">Continuar com google</div>
            </div>

            <div class="auth-btn" (click)="AuthFacebook()">
              <div class="auth-icons"><img id="icon-facebook" src="../../../../../assets/images/Icons/facebook.svg"></div>
              <div class="auth-label">Continuar com facebook</div>
            </div>
          </div> 

          <div class="split">
            <div class="left-line"><hr/></div>
            <div class="label-split"><span>Ou</span></div>
            <div class="right-line"> <hr/></div>
          </div>

          <div class="inputs">
            <div class="input-form" style="margin-bottom: 20px;">        
              <div class="div-input">
                  <label class="input">
                    <input  [ngClass]="{'input__field_required': userName.invalid && (userName.dirty || userName.touched)}"
                     id="userName" class="input__field" type="text" name="userName" ngModel required  #userName="ngModel"/>
                    <span class="input__label">Nome de Usuário</span>
                  </label>

                  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert">
                      <div *ngIf="userName.errors?.['required']" style="color: red">
                        * Nome de usuário é obrigatório
                      </div>
                  </div>
              </div>
        
            </div>


            <div class="input-form" style="margin-bottom: 20px;">        
                <div class="div-input">
                    <label class="input">
                      <input [ngClass]="{'input__field_required': password.invalid && (password.dirty || password.touched)}"
                      id="password" class="input__field" type="text" name="password" ngModel required  #password="ngModel"/>
                      <span class="input__label">password</span>
                    </label>

                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
                      <div *ngIf="password.errors?.['required']" style="color: red">
                        * Senha é obrigatório
                      </div>
                  </div>

                </div>
          
              </div>


              <div class="input-form">        
                <div class="div-input">
                    <label class="input">
                      <input  [ngClass]="{'input__field_required': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)}"
                      id="confirmPassword" class="input__field" type="text" name="confirmPassword" ngModel required  #confirmPassword="ngModel"/>
                      <span class="input__label">Confirmar Senha</span>
                    </label>
                   
                    <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert">
                      <div *ngIf="confirmPassword.errors?.['required']" style="color: red">
                        * Confirmação da senha é obrigatório
                      </div>
                    </div>
                </div>
          
              </div>
          </div>

          <button id="btn-sign" type="submit" data-testid="submitButton">
            <span >Entrar</span>
          </button>

          <div class="create-account" (click)="CreateAccount()">
            <span class="span-novo-escritor">Novo escritor? </span> <span class="span-criar-conta">Criar conta NewBook</span>
          </div>

          <hr style="margin-bottom: 20px;"/>

          <div class="informations">
            O NewBook coleta e usa dados pessoais de acordo com nossa <a src>Política de Privacidade.</a> 
             Ao criar uma conta, você concorda com nossos<a>Termos e Condições.</a>
          </div>
       
        </form>
    </div>
    <div class="footer-lign-login">
    </div>
</div>
</div>
