

.content{
    height: 961px;
    width: 100%;
    text-align: -webkit-center;

    .contentModal{
      margin-top: 10%;
      width: 80%;
      height: 800px;
    
      // .header-lign-login{
      //   width: 100%;
      //   background-color: rgb(0, 0, 0);
      //   height: 10px;
      // }
    
      .footer-lign-login{
        width: 100%;
        background-color: rgb(0, 0, 0);
        height: 10px;
        margin-top: 20px;
      }

      .body-login{
        padding-left: 30%;
        padding-right: 30%;
        padding-bottom: 0px;
        max-height: 700px;
    
        .div-title{
          text-align: center !important;
        }
    
        form{
    
          .external-auth-btn{
            width: 100%;
            height: auto;
            margin-bottom: 30px;
            
    
            .auth-btn{
              &:hover{
                background-color:#efefef;
                cursor: pointer;
              }
              display: flex;
              margin-bottom: 10px;
              border: 1px solid gray;
              height: 30px;       
    
              .auth-icons{
                height: 100%;
                width: 50px;
                text-align: center;
    
                img{
                  width: 30px;
                  height: 30px;
                }
              }
    
              #icon-facebook{
                width: 30px;
                height: 43px;
                /* top: auto; */
                line-height: 20p;
                position: relative;
                top: -10px;
              }
              
              .auth-label{
                width: 100%;
                text-align: center;
                height: 100%;
                font-family: Inter, sans-serif;
                font-size: 1rem;
                display: flex;
                font-weight: 600;
                align-items: center;
                justify-content: center;
              }
            }  
          }
    
          .split{
            display: flex;
            flex-direction: row;
            margin-bottom: 30px;
    
            .left-line{
              width: 45%;
            }
    
            .label-split{
              width: 10%;
              text-align: center;
              line-height: 18px;
              font-family: var(--labelFont);
              font-size: var(--labelSize);
            }
    
            .right-line{
              width: 45%;
            }
          }
    
          .inputs{
            margin-bottom: 30px;
    
            .input-form{
              display: flex;
              flex-direction: column;
    
              .div-input{
    
                .input{
    
                  .input__field_required {
                    border: 2px solid red;
                  }
                }  
                
              }
            }
          }
         
          #btn-sign{
            &:hover{
              background-color: #e3dd92;
            }
    
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            width: 100%;
            -webkit-box-align: center;
            align-items: center;
            text-align: center;   
            background-color: #faf5b2;
            font-family: Inter, sans-serif;
            font-size: 1rem;
            font-weight: 600;
            line-height: 1.25;
            padding: 0px 30px;
            border: 0px;
            border-radius: 4px;
            transition: all 0.2s ease-in-out 0s;
            cursor: pointer;
            position: relative;
            min-height: 40px;
            border-radius: 7px;
            margin-bottom: 20px;
          }
    
          .create-account{
            text-align: center;
            margin-bottom: 20px;
    
            .span-criar-conta{
              &:hover{
                cursor: pointer;
                color: rgb(0, 82, 112);
              }
              text-decoration: underline;
              color: rgb(0, 132, 180);
              font-size: inherit;
              font-weight: inherit;
              font-family: inherit;
            }
            .span-novo-escritor{
              font-size: inherit;
              font-weight: inherit;
              font-family: inherit;
            
            }
          }
    
          .informations{
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Fira Sans", "Helvetica Neue", Arial, sans-serif;
            font-size: 0.875rem;
            font-weight: 400;
            color: #6e6e6e;
    
            a{
              &:hover{
                color: #2c2c2c;
              }
              cursor: pointer;
              color: inherit;
              text-decoration: underline;
            }
          }
        }
      }
    }
    
}
