
<div class="content">
    <div class="content-recomendados">
        <div class="livrosRecomendados">
            <div class="cabeRecomendados">
             <h3>Mais utilizados</h3>   
             <h5 style="float: right; top: -60px; position: relative;"> Ocultar </h5>
            </div>
          
            <ul>
                <div class="item-livro">
                    <li>
                        <div class="livro">
                         <img src="../../../assets/images/capateste.jpg">
                         <hr>
                        </div>
                        <div class="livro">
                         <img src="../../../assets/gifs/gifteste.gif" alt="this slowpoke moves"  width="250" />
                         <!-- <img src="../../../assets/images/escritateste.png"> -->
                         <hr>
                        </div>

                        <div class="buttons-livro">
                            <button><i class="fa-solid fa-marker" (click)="abrirLivro(false)"></i></button>
                            <button><i class="fa-solid fa-eye"></i></button>
                            <button><i class="fa-solid fa-trash"></i></button>
                            <button><i class="fa-solid fa-share-from-square"></i></button>
                        </div>
                     </li>
                </div>
             
                <li>
                    <div>
    
                    </div>
                </li>
                <li>
                    <div>
    
                    </div>
                </li>
                <li>
                    <div>
    
                    </div>
                </li>
            </ul>
         
        </div>
    </div>

    <div class="opcoes">
        <ul>
            <li>
                <button>Tudo!</button>
            </li>
            <li>
                <button>Recentes</button>
            </li>
            <li>
                <button>Compartilhados</button>
            </li>
            <li>
                <button>Favoritos</button>
            </li>
            <li>
                <mat-form-field >
                    <!-- <mat-label>Favorite food</mat-label> -->
                    <select  matNativeControl>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                </mat-form-field>
            </li>
            <!-- <li>
                <div></div>
            </li>
            <li>
                <div></div>
            </li>
            <li>
                <div></div>
            </li> -->
        </ul>
    </div>
    <div class="">

    </div>
</div>