:root {
    --color-user-message: lightgreen;
    --color-ia-message: rgb(196, 196, 196);
    --color-chatia-message: rgb(247, 247, 247);
  }

.chatbot
{
    width: 100%;
    height: 100%;

    .messages::-webkit-scrollbar-track{
        background-color: #ffffff;
    }

    .messages::-webkit-scrollbar {
        width: 6px;
        background: #4d3c3c;
    }
    .messages::-webkit-scrollbar-thumb {
        background: #969696;
    }

    .messages{
        overflow-y: auto;
        height: 100%;
        border-top: 1px solid #c9c9c9;
        border-right: 1px solid #c9c9c9;
        border-left: 1px solid #c9c9c9;
        margin-right: 10px;
        margin-left: 10px; 
        background-color: var(--color-chatia-message);

        .loading-message{
            width: 120px;
            height: 50px;
            margin-top: 20px;
            margin-left: 18px;
        }

        .message{
            padding: 6px 7px 8px 9px;
            max-width: fit-content;
            margin-top: 5px;
            border-radius: 8px;
           }

           .message-line{
            display: flex;
            flex-direction: row;
           }

           .message-line.me{
            justify-content: flex-end;
           }

           .message-line.bot{
            justify-content: flex-start;
           }

           .message.me{
            background-color: var(--color-user-message);
            margin-right: 10px;
            margin-left: 50px;
           }

           .message.bot{
            background-color: var(--color-ia-message);
            margin-left: 10px;
            margin-right: 50px;
           }

           .user-name{
            font-weight: bold;
           }                                    
    }      

    .footer{
        padding: 10px 0 0;
        position: relative;
        border: 1px solid #c9c9c9;
        margin-left: 10px;
        margin-right: 10px;
        height: 36px;

            .form{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            min-width: 150px;
            max-width: 1000px;
            width: 100%;
                
            .btns-chat{
                width: 9%;
                height: 40px;
                bottom: 9px;
                position: relative;
           
                margin-right: 4px;
                border-radius: 5px;
                text-align: center;

                i{
                    top: 20%;
                    position: relative;
                }
            }
            .btns-chat:hover
            {
               background-color: #dfdfdfbb;
            }

                .combo-box-mode{
                    position: absolute;
                    display: inline-grid;
                    background: #f3f3f3;
                    width: 100px;
                    height: 100px;
                    border: 1px solid #979797;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px 1px #606060;
                    left: 5%;
                    visibility: hidden;
                    opacity: 0;
                    bottom: 0px;
                    transform: 1s;
                    transition: visibility 0s, opacity 0.5s linear;
                }
                .active-mode{
                    visibility: visible;
                    opacity: 1;
                    bottom: 53px;
                    transform: 1s;
                }

            input{
                margin-left: 4px;
                    height: 41px;
                    width: 80%;
                    bottom: 10px;
                    position: relative;
                    border: none;
            }

            :focus-visible {
                outline: 0px;
            }

            .sendBtn{
                bottom: 15px;                                  
                background-color:  #0074d9;
                width: 40px;
                height: 40px;
                border-radius: 25px;
                position: relative;
                border: none;
                cursor: pointer;
            }
          
           }
       }        

}