
  <div class="logo" style="left: -100px;">
    <h1>Earth</h1>
    <h2>E</h2>
  </div >

    <nav style="left: -100px;">
      <ul>
        <li>
          <div class="navDiv" (click)="RotaInicio()">
            <div class="navButton">
                <i class="fa fa-house navIcons"></i>
                <br>
                <br>
                <em style="left: -5px;">Inicio</em>
            </div>
        </div>
        </li>
        <li  style="background-color: white;">
          <div class="navDiv" (click)="RotameusLivroslivro()">
              <div class="navButton">
              <i class="fa fa-book-open navIcons"></i>
              <br>
              <br>
              <em style="left: -20px;">Escrever</em>
              </div>
          </div>
      
        </li>
        <li>
          <div class="navDiv">
            <div class="navButton">
            <i class="fa fa-question navIcons" style="left: 6px; position: relative;"></i>
            <br>
            <br>
            <em style="left: -40px;">Como funciona?</em>
          </div>
        </div>
        </li>
        <li>
          <div class="navDiv">
            <div class="navButton">
            <i class="fa fa-robot navIcons"></i>
            <br>
            <br>
            <em style="left: 10px;">IA</em>
          </div>
        </div>
        </li>
        <li>
          <div class="navDiv">
            <div class="navButton">
            <i class="fa fa-people-group" style="font-size: 25px;"></i>
            <br>
            <br>
            <em style="left: -21px;">Sobre Nós</em>
          </div>
        </div>
        </li>
      </ul>
    </nav>
    